<html>
	<head>
		<title>ZIL</title>
        <link href='http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|BenchNine|Roboto+Condensed|Amaranth' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../../css/zil.css">
	</head>
	<body>
        <script type="text/javascript" src="../../lib/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="../../lib/underscore-min.js"></script>

        <script src="../../lib/three.js"></script>

        <script src="../../lib/renderers/Projector.js"></script>

        <script src="../../lib/shaders/ColorifyShader.js"></script>
        <script src="../../lib/shaders/BlendShader.js"></script>
        <script src="../../lib/shaders/EdgeShader.js"></script>
		<script src="../../lib/shaders/CopyShader.js"></script>

		<script src="../../lib/postprocessing/EffectComposer.js"></script>
		<script src="../../lib/postprocessing/RenderPass.js"></script>
		<script src="../../lib/postprocessing/ShaderPass.js"></script>
		<script src="../../lib/postprocessing/MaskPass.js"></script>

        <script src='../../lib/threex.geometricglow/threex.dilategeometry.js'></script>
        <script src='../../lib/threex.geometricglow/threex.atmospherematerial.js'></script>
        <script src="../../lib/threex.geometricglow/threex.geometricglowmesh.js"></script>
        <script src='../../lib/threex.objcoord.js'></script>

        <script src="../../src/zil_util.js"></script>
        <script src="../../src/zil_events.js"></script>
        <script src="../../src/monsters.js"></script>
        <script src="../../src/chunk.js"></script>
        <script src="../../src/zil_shape.js"></script>
        <script src="../../src/aaastar.js"></script>
        <script src="../../src/mobile.js"></script>
        <script src="../../src/creature.js"></script>
        <script src="../../src/player.js"></script>
		<script src="../../src/missile.js"></script>
		<script src="../../src/spell.js"></script>
		<script src="../../src/songbook.js"></script>
		<script src="../../src/quests_window.js"></script>
		<script src="../../src/zil.js"></script>
		<script src="../../src/commands.js"></script>
		<script src="../../src/story.js"></script>

        <!-- midi.js package -->
        <script src="../../lib/MIDI.js/js/MIDI/Plugin.js" type="text/javascript"></script>
        <script src="../../lib/MIDI.js/js/MIDI/Player.js" type="text/javascript"></script>
        <script src="../../lib/MIDI.js/soundfont/vibraphone-ogg.js" type="text/javascript"></script>
        <script src="../../lib/MIDI.js/inc/Base64.js" type="text/javascript"></script>
        <script src="../../lib/MIDI.js/inc/base64binary.js" type="text/javascript"></script>

        <div id="quests_ui" class="ui_panel ui_black ui_window">
            <div class="title">Quests</div>
            <div>
                <a href="#" class="button black active quest_selector" data-sel="current_quests">Current</a>
                <a href="#" class="button black quest_selector" data-sel="completed_quests">Completed</a>
            </div>
            <div class="quest_list" id="current_quests">
            </div>
            <div class="quest_list" id="completed_quests" style="display: none;">
            </div>
            <a href="#" class="button black" id="close_quests">Close</a>
        </div>

        <script id='tmpl-quest_list' type='text/template'>
            <div class="quest_entry"><%= quest.name %></div>
        </script>

        <div id="songbook_ui" class="ui_panel ui_black ui_window">
            <div class="title">Songbook</div>
            <div class="clearfix">
                <a href="#" class="button black" id="prev_page">&lt;</a>
                <div id="songbook_page_label">Songs for page <%= (page + 1) %></div>
                <a href="#" class="button black" id="next_page">&gt;</a>
            </div>
            <div id="songbook_pages">

            </div>
            <a href="#" class="button black" id="close_songbook">Close</a>
        </div>

        <script id='tmpl-songbook_page' type='text/template'>
            <div class="songbook_page clearfix" id="page_<%= page %>">
                <% for(var i = 0; i < spells.length; i++) { %>
                    <% if(ZIL.player.mobile.has_spell(spells[i])) { %>
                        <div class="songbook_spell" id="<%= spells[i].name %>">
                            <img src="<%= spells[i].img_src %>" width="50">
                            <%= spells[i].name %>
                        </div>
                    <% } else { %>
                        <div class="songbook_spell disabled_spell" id="<%= spells[i].name %>"></div>
                    <% } %>
                <% } %>
            </div>
        </script>

        <div id="menu">
            <div class="title">Z.I.L.</div>
            <div class="cr">2015 (c) Gabor Torok</div>
            <div><a href="#" id="new_game">New Game</a></div>
            <div><a href="#" id="continue_game">Continue Game</a></div>
            <div><a href="#" id="quit_game">Quit</a></div>
        </div>

        <div id="level_up" class="omgbigdeal">Level Up!</div>
        <div id="quest_complete" class="omgbigdeal">Quest Completed!</div>

        <div id="game_paused">
            <button onclick="ZIL.set_paused(false);">Continue</button>
        </div>

        <div id="message">
            <div class="title"></div>
            <div class="body"></div>
        </div>

        <canvas id="view"></canvas>

        <div class="ui_panel ui_bottom">
            <div id="ui_console" class="ui_black"></div>
            <div id="ui_actions">
                <a href="#" class="button black" id="stats">Stats</a>
                <a href="#" class="button black" id="inventory">Items</a>
                <a href="#" class="button black" id="songbook">Songs</a>
                <a href="#" class="button black" id="quests">Quests</a>
                <a href="#" class="button black" id="notes">Notes</a>
            </div>
        </div>

        <div id="intro_1" class="intro">
            <p>Writing the game progressed well at first.</p>
            <p>The hours flew by as the world grew and the story unfolded.</p>
        </div>
        <div id="intro_2" class="intro">
            <p>But a day came with no new ideas and coding stopped.</p>
            <p>The story floundered and the world was stagnant.</p>
        </div>
        <div id="intro_3" class="intro">
            <p>Then came <u>diab.js</u>: a small bit of code to animate development.</p>
            <p>Work sped up again and the world flourished.</p>
        </div>
        <div id="intro_4" class="intro">
            <p>Work accelerated until coding consumed all free time.</p>
            <p>Friends were eschewed and obligations went unmet.</p>
        </div>
        <div id="intro_5" class="intro">
            <p>Outside, much of winter passed while the game grew monstrous.</p>
            <p>It started to take up all free space inside.</p>
        </div>
        <div id="intro_6" class="intro">
            <p>One day the inside ripped and spilled to lower within.</p>
            <p>As the darkness lifted a familiar landscape appeared...</p>
        </div>
		<script>
            $(document).ready(function() {
                ZIL.start_game();
            });
        </script>
	</body>
</html>